footer {
	background: #1e2b38;
	padding: 75px 0;
	/* Flexbox */
	display: flex;
	justify-content: center;
}

footer .social-network {
	color: white;
	margin-right: 60px;
	padding: 20px 30px;
	border-radius: 5px;
	transition: 0.3s all ease;
}

footer .social-network .loading-icon {
	width: 30px;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .social-network .loaded-icon {
	display: none;
	width: 30px;
	vertical-align: top;
}

footer .github:hover {
	background: #666666;
}

footer .workana:hover {
	background: #002D72;
}

footer .linkedin:hover {
	background: #007EBB;
}