header {
	background: url('../media/bg.jpg') #41A0D6;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/*Flexbox*/
	display: flex;
	flex-direction: column;
	align-items: center;
}


header .navigation {
	padding-top: 45px;
	padding-bottom: 45px;
	margin-right: 10%;
	align-self: flex-end;
}

header .navigation .link {
	color: white;
	text-decoration: none;
	font-weight: 300;
	padding-bottom: 5px;
	margin-left: 30px;
}

header .navigation .link:hover {
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

header .name {
	color: white;
	text-align: center;
	padding: 25px 30px;
	border: 3px solid rgba(255,255,255,0.3);
	border-radius: 10px;
	margin: 180px 0;
	cursor: default;
	transition: 0.3s all ease;
}

header .name:hover {
	transform: scale(1.1);
	border: 3px solid rgba(255,255,255,0.7);
}

header .name .title {
	font-size: 60px;
	font-weight: 500;
}

header .name .paragraph {
	font-size: 30px;
	font-weight: 500;
}