@media screen and (max-width: 1024px) {
	footer {
		padding: 50px 0;
	}
}

@media screen and (max-width: 930px) {
	main .my-projects .projects {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	main .web-development .projects {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
}

@media screen and (max-width: 768px) {
	header .navigation {
		width: 70%;
		margin: 0px;
		align-self: center;
		/* Flexbox */
		display: flex;
		justify-content: space-around;
	}

	header .navigation .link {
		margin-left: 0px;
	}

	header .name {
		padding: 25px 30px;
		margin-top: 150px;
	}

	header .name .title {
		font-size: 50px;
	}

	header .name .paragraph {
		font-size: 25px;
	}

	footer .social-network {
		margin-right: 20px;
	}

	footer .instagram {
		margin-right: 0;
	}
}

@media screen and (max-width: 530px) {
	header .navigation {
		width: 100%;
	}

	header .name {
		padding: 20px 25px;
		margin-top: 100px;
	}

	header .name .title {
		font-size: 40px;
	}

	header .name .paragraph {
		font-size: 20px;
	}

	main .about .article {
		padding: 0 5%;
	}

	main .about .article .title {
		font-size: 35px;
		margin-bottom: 30px;
	}

	main .my-projects .projects {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
	}

	main .web-development .projects {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	main .contact .form {
		width: 90%;
	}

	main .contact .form .name {
		width: 100%;
		margin-right: 0;
	}

	main .contact .form .email {
		width: 100%;
	}

	main .contact .form .text-area {
		height: 120px;
	}

	footer .social-network {
		margin-right: 10px;
		padding: 10px 20px;
		border-radius: 5px;
	}

	footer .instagram {
		margin-right: 0;
	}
}

@media screen and (max-width: 425px) {
	header .navigation .link {
		font-size: 13px;
		font-weight: 300;
		padding-bottom: 5px;
	}

	header .name {
		padding: 20px 25px;
		margin-top: 75px;
	}

	header .name .title {
		font-size: 30px;
	}

	header .name .paragraph {
		font-size: 15px;
	}

	main .about .image {
		width: 120px; height: 120px;
		/* Posicionar */
		bottom: 60px;
	}

	main .about .article .title {
		font-size: 25px;
	}

	main .about .article .paragraph {
		font-size: 14px;
		line-height: 28px;
	}

	main .my-projects {
		padding-top: 50px;
	}

	main .my-projects .title {
		font-size: 25px;
		margin-bottom: 30px;
	}

	main .my-projects .projects .project .image {
		margin-bottom: 15px;
	}

	main .my-projects .projects .project .project-name {
		font-size: 16px;
	}

	main .contact {
		padding-top: 50px;
	}

	main .contact .title {
		font-size: 25px;
		margin-bottom: 30px;
	}

	main .contact .form {
		width: 95%;
	}

	main .contact .form .name,
	main .contact .form .email,
	main .contact .form .text-area,
	main .contact .form .btn-send,
	::placeholder {
		font-size: 14px;
	}

	footer .social-network .image {
		width: 20px;
		vertical-align: top;
	}

}

@media screen and (max-width: 370px) {
	footer .social-network {
		margin-right: 5px;
		padding: 5px 15px;
		border-radius: 5px;
	}

	footer .instagram {
		margin-right: 0;
	}
}