main .about .loading-image {
	background-color: #E0E0E0;
	width: 150px; height: 150px;
	border-radius: 50%;
	box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
	margin: 0 auto;
	transition: 0.3s all ease;
	/* Position */
	position: relative;
	bottom: 75px;
	/* Flebox */
	display: flex;
	justify-content: center;
	align-items: center;
}

main .about .loading-image svg {
	width: 80%; height: 80%;
	border-radius: 50%;
}

main .about .image {
	display: none;
	width: 150px; height: 150px;
	border-radius: 50%;
	box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
	margin: 0 auto;
	transition: 0.3s all ease;
	/* Position */
	position: relative;
	bottom: 75px;
}

main .about .loading-image:hover,
main .about .image:hover {
	box-shadow: 0 0 0 5px rgba(255,255,255,1);
	transform: scale(1.1, 1.1);
}

main .about .article {
	text-align: center;
	padding: 0 20%;
	/* Position */
	position: relative;
	bottom: 25px;
}

main .about .article .title {
	color: #dd820d;
	font-weight: 400;
	font-size: 35px;
	margin-bottom: 50px;
	cursor: default;
}

main .about .article .paragraph {
	color: #5a5a5a; 
	font-size: 17px;
	line-height: 28px;
	margin-bottom: 25px;
}

main .about .article .paragraph .link  {
	color: #3895ea;
}
