main .contact {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 75px;
}

main .contact .title {
	color: #3895ea;
	font-weight: 400;
	font-size: 35px;
	margin-bottom: 50px;
	cursor: default;
}

main .contact .form {
	width: 80%;
	margin: 0 auto;
	/* Flexbox */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

main .contact .form .name, 
main .contact .form .email, 
main .contact .form .text-area {
	padding: 10px;
	border: 2px solid #cecece;
	border-radius: 5px;
	margin-bottom: 2%;
}

main .contact .form .name:focus, 
main .contact .form .email:focus, 
main .contact .form .text-area:focus {
	outline-color: #3895ea;
}

main .contact .form .name {
	color: rgb(127.5, 127.5, 127.5);
	font-size: 21px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	width: 49%;
	margin-right: 2%;
}

::placeholder {
	color: #a4a4a4;
	font-size: 21px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}

main .contact .form .email {
	color: rgb(127.5, 127.5, 127.5);
	font-size: 21px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	width: 49%;
}

main .contact .form .text-area {
	color: rgb(127.5, 127.5, 127.5);
	font-size: 21px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 45px;
	max-height: 150px;
}

main .contact .form .btn-send {
	color: white;
	background: #3895ea;
	font-size: 19px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	padding: 10px 25px;
	border: none;
	border-radius: 3px;
	transition: 0.3s all ease;
}

main .contact .form .btn-send:hover {
	background: #387bea;
}

main .contact .success-send {
	color: green;
	display: none;
}

main .contact .failed-send {
	color: red;
	display: none;
}