main .my-proyects {
	background: #f2f2f2;
	padding-top: 100px;
	padding-bottom: 75px;
	text-align: center;
}
main .my-proyects .title {
	color: #323068;
	font-weight: 400;
	font-size: 35px;
	margin-bottom: 50px;
	cursor: default;
}

main .my-proyects .proyects {
	width: 80%;
	margin: 0 10%;
	/*CSS Grid*/
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 30px;
}

main .my-proyects .proyects .proyect {
	text-decoration: none;
	transition-property: all;
	transition-timing-function: ease;
	transition-duration: 1s;
}

main .my-proyects .proyects .proyect:hover {
	transform: scale(1.1, 1.1);
}

main .my-proyects .proyects .proyect .image {
	width: 100%;
	border: 2px solid rgba(73, 163, 214, 0.5);
	border-radius: 5px;
	margin-bottom: 25px;
}

main .my-proyects .proyects .proyect .proyect-name {
	color: rgba(73, 163, 214, 1);
	font-weight: 400;
	font-size: 19px;
	margin-bottom: 25px;
}

main .my-proyects .proyects .proyect .paragraph {
	font-size: 13px;
	opacity: 0.5;
}