main .my-projects {
	padding-top: 100px;
	padding-bottom: 75px;
	text-align: center;
}

main .web-design { background: #f2f2f2; }

main .web-development {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
}

main .my-projects .title {
	color: #323068;
	font-weight: 400;
	font-size: 35px;
	margin-bottom: 50px;
	cursor: default;
}

main .my-projects .projects {
	width: 80%;
	margin: 0 10%;
	/*CSS Grid*/
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 30px;
}

main .my-projects .projects .project {
	text-decoration: none;
	transition-property: all;
	transition-timing-function: ease;
	transition-duration: 1s;
}

main .my-projects .projects .project:hover {
	transform: scale(1.1, 1.1);
}

main .my-projects .projects .project .github-link {
	text-decoration: none;
	margin-bottom: 25px;
	display: flex;
	justify-content: center;
}

main .my-projects .projects .project .github-link:hover::after,
main .my-projects .projects .project .github-link:focus::after {
	content: "Mira el código en Github";
	color: black;
	background-color: #fff;
	font-size: 13px;
	min-width: 200px;
	padding: 12px;
	border: 1px rgba(73, 163, 214, 1) solid;
	border-radius: 10px;
	margin-top: 40px;
	position: absolute;
	z-index: 1;
}

main .web-development .project .loadingProjectImage {
	background-color: #f2f2f2;
}

main .my-projects .projects .project .loadingProjectImage {
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .my-projects .projects .project .loadingProjectImage,
main .my-projects .projects .project .loadedProjectImage {
	width: 100%;
	border: 2px solid rgba(73, 163, 214, 0.5);
	border-radius: 5px;
	margin-bottom: 25px;
}

main .my-projects .projects .project .loadedProjectImage {
	display: none;
}

main .my-projects .projects .project .github-link .project-name {
	color: rgba(73, 163, 214, 1);
	font-weight: 400;
	font-size: 19px;
}

main .my-projects .projects .project .github-link .project-name:hover {
	text-decoration: underline;
}

main .my-projects .projects .project .paragraph {
	font-size: 13px;
	opacity: 0.5;
}